body {
  margin-top: 15rem;
  background-color: skyblue;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.app {
  width: 800px;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;

  & .app-header {
    height: 250px;
    width: inherit;
    object-fit: cover;
  }
}